<!--    
    fadil@xcoder.dvlpr

        ¯\_(ツ)_/¯ 
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SF6 Apache2 App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <p><br>
            - php bin/console app:image:recognition<br><br>
            - php bin/console app:image:text<br><br>
            - GraphQL : http://sf6.inbuilt.app.local/graphiql
            </p>
        </main>
    </body>
</html>